@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch:wght@300&family=Orbitron&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/cyberpunk-urban-scenery.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.322);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo-container {
    position: relative;
    display: inline-block;
}

.logo-img {
    width: 200px;
    height: auto;
    animation: 1s steps(34) infinite paused;
    transition: transform 0.5s ease;
}

.logo-img:hover {
    transform: scale(1, 1);
    animation-play-state: running;
    animation-delay: -0.5s; /* Start from the 17th frame */
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btn-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 236, 253);
    font-weight: 500;
    margin-left: 30px;
    transition: .5s;
}

.navigation .btn-popup:hover{
    background: white;
    color: black;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    z-index: 30;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 700px;
    width: 600px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-600px);
}

.wrapper .form-box.registration{
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active .form-box.registration{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 2px;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.icon-close:hover{
    color: white;

}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #162938;
    margin: 30px 0;
    padding: 0 10px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.flex-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    gap: 30px;
    padding: 0;
}

.pad{
    margin-top: 40px;
    margin-bottom: 0;
}

.pad1{
    margin-top: 20px;
}

.flex-box label{
    position: absolute;
    transform: translateY(-90%);
}

.border-single{
    width: 50%;
    height: 50%;
    border-bottom: 3px solid #162938;
}

.border-single input{
    margin-right: -20px;
    min-width: 70%;
}

.age-input{
    gap: 0;
    padding-left: 10px;
}

.age-input input{
    margin-bottom: 18px;
}

.gender-input{
    gap: 0;
    padding-left: 10px;
    position: relative;
}


.gender-input select{
    margin-bottom: 18px;
}

.form-select{
    width: 85%;
    background-color: transparent;
    border: none;
}


.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    top: -5px;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#162938;
    line-height: 57px;
}

.icon1{
    font-size: 1.2em;
    color:#162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: aqua;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.Gender-lable{
    left: 0;
    display: block;
    position: relative;
    right: 2px;

}

.gender-input select{
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
}

.gender-input select:focus{
    border: none;
    outline: none;
}

.gender-input select:focus~label,
.gender-input select option:not(:first-of-type)~ .gender-input label{
    top: -15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.active2{
    top: -15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}


.op{
    font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.text {
    text-align: center;
    color: white; /* Adjust text color */
    position: absolute; /* Set position to relative */
    z-index: 2; /* Ensure it's above the background */
}

.text h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 10rem;
    padding: 10px;
    padding-bottom: 10px;
}

.text h2{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    padding: 10px;
}


#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}


@media(max-width:1200px){
    html{
        font-size: 80%;
    }
    .text h1{
        font-size: 6rem;
    }
    .text h2{
        font-size: 3rem;
    }
}

@media(max-width:991px){
    header{
        padding: 0 1rem;
    }
}

@media(max-width: 895px){
    #menu-icon{
        display: block;
        color: cyan;
        font-size: 3rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.452);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.105);
        justify-content: center;
        align-items: center;
        display: none;
    }

    .navbar.active1{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%; /* Adjust the width as needed */
        height: auto; /* Allow the height to adjust based on content */
        padding: 20px; /* Adjust padding as needed */
        box-sizing: border-box; /* Include padding in the total width */
    }

    .wrapper.active{
        width: 80%;
        height: 525px;
    }

    .wrapper .form-box {
        padding: 20px; /* Adjust padding as needed for form boxes */
    }

    .input-box {
        margin: 15px 0; /* Adjust margin for input boxes */
    }

    .input-box label {
        font-size: 0.9em; /* Adjust font size for labels */
    }

    .btn {
        height: 40px; /* Adjust height for buttons */
    }

    .login-register {
        margin: 15px 0; /* Adjust margin for login/register text */
    }

    .input-box input:focus~label,
    .input-box input:not(:placeholder-shown)~label {
    top: -5px;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    }

    .pad{
        margin-top: 30px;
        margin-bottom: 5px;
    }
}
